*.aux
*.log
*.gz
*.out
*.vpp.lck
*.bak*
*.vux
out/*
out/gcc-debug/src/.last-copts
*.dll
*_m.cc
*_m.h
examples/soqosmw_rtip_host/small_network/results/
doc/doxy/
doc/neddoc/
doc/index.html
examples/soqosmw_pubsub/small_network/results/
*.anf
*.pdf
*.tks
*.sca
*.vci
*.vec
*.so
examples/soqosmw_gatewaypubsub/gateway_net/core

